
.materia-info h3{
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #000;
  padding-block: 0.3em;
}
.materia-info h3:hover{
  color: rgb(78, 78, 78);
}

#materias-contenedor {
  background-color: rgba(182, 125, 117, 0.25);
  padding-left: 2.0%;
}

.sect-activo {
  width: 1em;
  height: 1em;
}

.materia-table-container {
  overflow-x: auto;
}

.NRCS {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.NRCS td, .NRCS th {
  text-align:center;
  align-content: center;

  border: 1px solid rgba(110, 71, 71, 0.63);
}

.NRCS tr:nth-child(even){
  background-color: #d4929269;
}

.NRCS tr {
  background-color: #81626269;
}

.NRCS th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.seccion-horario table{
  border: 0;
}

.seccion-horario tr, .seccion-horario th{
  border: 0;
  background-color: none;
}