#selector-outer {
  margin-left: 2%;
}

.btn-move {
  margin-inline: 0.35em;
  padding-inline: 0.65em;
}

#selector {
  display: flex;
}

#selector-in {

  overflow-x: auto;
}

#selector ul {
  display         : flex;
  list-style      : none;
  padding         : 0;
}

#selector li:not(:first-child) {
  margin-left: 0.2em;
}

#selector input {
  position : absolute;
  clip     : rect(0 0 0 0);
  width    : 1px;
  height   : 1px;
}

#selector label {
  display: inline-block;
  padding: 0em 0.2em;
  cursor: pointer;
  font-size: 1.15em;
}

#selector :checked + label{
  background: rgba(132, 108, 134, 0.616);
  border-radius: 0.2em;
}

#selector button {
  visibility: hidden;
}

@media (max-width: 600px){
  #selector button{
    visibility: visible;
  }
}