

#selector select option {
  display:inline-block;
  padding-inline: 10px;
}

#selector {
  display:inline-block;
  vertical-align:top;
  max-width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
}